.hotel{
    height: 100vh;
}
.card-one{
    background-color:#000000e6;
    max-width: 15em;
    max-height: 8em;
    border: 2px solid black;
    border-radius: 105px;
    margin-top: 350px;
    text-align: center;
    margin-left: 40px;
    color: white;
}
button{
    position: relative;
    top: 30px;
    padding: 10px;
    border: 2px solid black;
    border-radius: 20px;
}

@media only screen and (min-width:1440px){
    .card-one{
        background-color:#000000e6;
        max-width: 105em;
        max-height: 8em;
        border: 2px solid black;
        border-radius: 105px;
        text-align: center;
        margin: 0 auto;
        margin-top: 440px;
        color: white;
    }
    button{
        position: relative;
        top: 20px;
        padding: 10px;
        border: 2px solid black;
        border-radius: 20px;
    }
}