.border3{
    
    width: 100%;
    height: 340px;
    border: none;
}
.color1{
    color: rgb(133, 131, 131);
}
.border4{
    
    width: 100%;
    height: 340px;
    border: none;
}
.color2{
    color: rgb(133, 131, 131);
    font-weight: bold;
}
.font1{
    font-size: 20px;
}
body{
    color: rgb(133, 131, 131);
}